<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NetCallWebService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <NetCallWebService.Properties.Settings>
            <setting name="NetCallWebService_NOSmsWS_BusinessServiceService"
                serializeAs="String">
                <value>http://localhost:8080/SMSWSServer/services/BusinessService</value>
            </setting>
        </NetCallWebService.Properties.Settings>
    </applicationSettings>
</configuration>