<%@ Master Language="C#" AutoEventWireup="true" CodeFile="Retrieve.master.cs" Inherits="Retrieve" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>找回密码 拓富—中国招商投资网</title>
<link href="css/commonRetrieve.css" rel="stylesheet" type="text/css" />
<link href="css/layer.css" rel="stylesheet" type="text/css" />
 <link href="css/bottomcss.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
.footer {
	width: 948px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 3px;
	height: 100px;font-size:12px;
}
 .footer .pic {
	float: left;
	width: 180px;
	text-align: right;
	padding: 5px;
}
 .footer .copy {
	float: left;
	width: 600px;
	line-height: 150%;
	text-align: center;
	padding-top:5px;
}

 .footer .menub {
	height: 25px;
	line-height: 200%;
	background-color: #EBEBEB;
	text-align: center;
}
 .footer .r {
	float: right;
	width: 150px;
	padding: 25px 0 0 0;
}
.footer A:link    {
	color:#595959;
	text-decoration: none;
}
.footer A:visited {
	color:#993366;
	text-decoration: none;
}
.footer A:active ,.footer A:hover {
	color:#ff0000;
	text-decoration: underline;
}

-->
</style>
<style type="text/css">
<!--
.header{ width:948px; height:75px; text-align:left; margin:0 auto; padding-top:5px; margin-bottom:8px}
.logo{ width:410px; float:left; position:relative; }
.logo span{ position: absolute; left:238px; top:11px; font-size:12px; color:#333333; font-weight:normal}

.rightfont{ width:405px; float:right; text-align:right; height:75px}
.alltopnav{
	width:415px;
	float:right;
	padding: 15px 0 0 0;
}
.alltopnav .shangmenu{
	padding:0 0 4px 0;
	maring:0;
	font-size:12px;
	border-bottom:1px solid #CCCCCC;
	font-weight: normal;
}
.alltopnav .xiadl{
	margin: 0;
	padding: 15px 0 0 0;
}
-->
<base target="_blank" />
</style> 
</head>
<body>

<form id="form1" runat="server">
<div class="header">
	<div class="logo">
		<a href="/"><img src="http://www.topfo.com/web13//images/logo.jpg" border="0" /></a>

		<span>全球最大的招商投资融资门户</span>	</div>
	<div class="rightfont">
		<div class="alltopnav">
		<div class="shangmenu"><a href="http://www.topfo.com/">首页</a> | <a href="http://www.topfo.com/Capital/" target="_blank">投资</a> | <a href="http://www.topfo.com/project/" target="_blank">融资</a> | <a href="http://www.topfo.com/merchant/" target="_blank">招商</a> | <a href="http://www.topfo.com/agent/" target="_blank">分站</a> | <a href="http://www.topfo.com/news/" target="_blank">资讯</a> | <a href="http://bbs.topfo.com/" target="_blank">论坛</a> | <a href="" target="_blank">帮助</a></div>

		<div class="xiadl"><a href="http://member.topfo.com/Login.aspx" target="_blank"><img src="http://www.topfo.com/web13/images/help/btn_login.jpg" width="60" height="19" border="0" /></a> <a href="http://member.topfo.com/Register/Register.aspx" target="_blank"><img src="http://www.topfo.com/web13/images/help/btn_reg.jpg" width="60" height="19" border="0" /></a></div>
	  </div>
	</div>
	<div class="clear helpborder">
        &nbsp;</div>
</div>
 
<div class="redlineH3"></div>

<div class="wrap">
<div class="line_orange1">

<div class="blank0"></div>


    <div>
        <asp:contentplaceholder id="ContentPlaceHolder1" runat="server">
        </asp:contentplaceholder>
    </div>


<div class="blank0"></div>

</div>
</div>



<div class="footer" >
<div class="menub"><span class="px13"><a href="http://www.topfo.com/aboutus/index.aspx" target="_blank">关于我们</a> | <a href="http://www.topfo.com/ContactUs.shtml" target="_blank">联系我们</a> | <a href="http://www.topfo.com/Aboutus/ServiceOnline/index.shtml" target="_blank">我们的服务</a> | <a href="http://www.topfo.com/ADbusiness/ad/ad_pay.htm" target="_blank">支付方式</a> |<a href="http://www.topfo.com/ADbusiness/ad/ad_first.htm" target="_blank">广告服务</a> | <a href="http://www.topfo.com/ServiceItem/ServiceItem.shtml" target="_blank">服务条款</a> | <a href="http://www.topfo.com/Map.shtml" target="_blank">网站地图</a> | <a href="http://www.topfo.com/zhaoping/index.shtml" target="_blank">诚聘英才</a> |<a href="http://www.topfo.com/Sys/Message.aspx" target="_blank">留言反馈 </a> | <a href="http://www.topfo.com/link/" target="_blank">友情链接</a></div>

<div>
<div class="pic"><a href="/wangan/index.htm" target="_blank"><img src="http://www.topfo.com/web1.1/img/bottom_b1.gif" width="54" height="63" hspace="10" border="0" /></a><a href="http://202.105.137.190/netalarm/index.jsp" target="_blank"><img src="http://www.topfo.com/images/gangt.jpg" width="52" height="78" border="0"/></a></div>
<div class="copy"><a href="/" target="_blank">中国招商投资网有限公司</a> &nbsp;1998-2007&nbsp;版权所有<br />
支持合作：<a href="/unido_tz888.html" target="_blank" style="color:#000000">联合国工业发展组织中国投资促进处&nbsp;唯一授权合作网站</a><br />
　　　如有任何意见或建议，请惠赐E-mail至<a href="mailto:advise@tz888.cn">advise@tz888.cn</a><br />
<a href="http://www.miibeian.gov.cn" target="_blank">经营许可证编号为:粤B2-20040428</a> 　ICP编号：粤B2-19981001</div><div class="r">

<a href="javascript:jiayingOpenMyWin()"><img src="http://www.topfo.com/images/new_12/zxkf_index.gif" alt="在线客户服务" width="90" height="23" hspace="5" border="0" /></a> 
<div style="display:none">
<script language="javascript" type="text/javascript" src="http://js.users.51.la/1485830.js" ></script>
<noscript><a href="http://www.51.la/?1485830" target="_blank"><img alt="统计" src="http://img.users.51.la/1485830.asp" style="border:none" /></a></noscript></div></div><div class="clear">
</div>
<script language="javascript" src="http://chat.7k35.com/chat/7k35_1.jsp?eprId=topfo"></script>

</div>
</div>
  </form>
</body>
</html>

   
   

  
 
