<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<add name="SQLConnString1" connectionString="server=58.61.37.154,1138;uid=develop;pwd=hqjszjj@tz888.cn;database=Invest_PRE"/>
		<add name="SQLConnString2" connectionString="server=58.61.37.154,1138;uid=develop;pwd=hqjszjj@tz888.cn;database=Invest_PRE"/>
		<add name="SQLConnString3" connectionString="server=58.61.37.154,1138;uid=develop;pwd=hqjszjj@tz888.cn;database=PageStatic"/>
		<add name="SQLProfileConnString" connectionString="server=58.61.37.154,1138;uid=develop;pwd=hqjszjj@tz888.cn;database=Invest_PRE"/>
		<add name="SelfCreateWeb" connectionString="server=192.168.1.116,1138;uid=develop;pwd=develop;database=Invest_Premises"/>
		<!-- 短信数据库 -->
		<add name="SmsConnectionString" connectionString="server=220.231.180.109;uid=oursqlloginwebuser;pwd=^__^cetCard.Himwellwei$${{;database=msgSend"/>
	</connectionStrings>
	<appSettings>
		<!-- DbHelperSQL数据访问基类所使用的数据库连接 -->
		<add key="ConnectionString" value="server=58.61.37.154,1138;uid=develop;pwd=hqjszjj@tz888.cn;database=Invest_PRE"/>
		<!-- 数据库访问逻辑层程序集名，用于反射装载 -->
		<add key="DAL" value="Tz888.SQLServerDAL"/>
		<!--天天付银行在线支付各种证书路径-->
		<add key="pnrPK" value="E:\\TZ888-VS2005\\Member\\PayManage\\KEY\\PgPubk.key"></add>
		<add key="pnrMerPK" value="E:\\TZ888-VS2005\\Member\\PayManage\\KEY\\MerPrK880452.key"></add>
		<!--神州行在线支付证书路径-->
		<add key="szxcert" value="E:\\TZ888-VS2005\\Member\\PayManage\\KEY\\szx.crt"></add>
		<add key="EncodingName" value="gb2312"></add>
		<!--1个点数兑换的积分数-->
		<add key="ExchangeMul" value="50"></add>
		<add key="ImageContentLength" value="150"></add>
		<add key="ADImageContentLength" value="1500"></add>
		<add key="ImageServerPath" value="D:\工作区域\公司项目\网站改版\source\images\"></add>
		<add key="Domain" value="http://www2.topfo.com/"></add>
		<add key="AuthenticationTickeTime" value="60"></add>
		<add key="LoginTimeRange" value="1"></add>
		<add key="AllowErrorTimes" value="5"></add>
		<add key="SmtpServer" value="61.145.163.5"></add>
		<add key="SenderEmailName" value="中国招商投资网"></add>
		<add key="SenderEmail" value="customservice@tz888.net"></add>
		<add key="EmailPassword" value="mailsender"></add>
		<add key="SenderEmailFolder" value="D:\tz888\tzweb\FileFolder\"></add>
		<add key="AgentWebRootPath" value="D:\工作区域\公司项目\网站改版\source\All\TZWEB1228\Site\"></add>
		<add key="ipspassword" value="Q0G7a5Me"></add>
		<add key="ADCacheTimeOut" value="200"></add>

		<add key="ADImageContentLength" value="1500"></add>
		<add key="ImageServerPath" value="E:\V1.2.3\Member\TempUploadFile\"></add>
		<add key="ImageDomain" value="http://image.tz888.cn"/>


		<add key="ADCacheDependencyDIR" value="D:\工作区域\公司项目\网站改版\source\All\TZWEB1228\Site\ADCacheDependency\"></add>
		<!--
     tz888 和tzweb共享的文件夹 2006-3-15 增加   tz888和 tzweb的web.config文件的配置必须一致     
    -->
		<add key="ShareFolder" value="D:\工作区域\公司项目\网站改版\source\All\TZWEB1228\Site\ShareFolder\"></add>
		<!--配置系统是否采用全文本搜索，不配置或配置为0或空表示采用关键词搜索，否则表示关键词+内容搜索-->
		<add key="IsUserContextSearch" value="1"></add>
		<!--配置用户注册是否使用邮件激活功能，不配置或配置为0或空表示不使用邮件激活功能，否则表示使用邮件激活功能-->
		<add key="RegisterActive" value="1"></add>
		<add key="GuestUserName" value="guest"></add>
		
		<!-- 各二级站点URL配置 -->
		<add key="wwwDomain" value="http://www1.topfo.com"/>
		<add key="ImageDomain" value="http://images1.topfo.com"/>
		<add key="FileDomain" value="http://file1.topfo.com"/>
		<add key="MemberDomain" value="http://member1.topfo.com"/>
		<add key="NewsDomain" value="http://news1.topfo.com"/>
		<add key="SearchDomain" value="http://search1.topfo.com"/>
		<add key="PayDomain" value="http://www3.tz888.cn/Pay"/>
		
		<!-- 是否执行统一错误处理策略 -->
		<add key="IsDisposeError" value="false"/>
		<!--是否把日志写入文件ErrorMessage.txt-->
		<add key="LogInFile" value="false"/>
		<!--是否把日志写入数据库-->
		<add key="LogInDB" value="false"/>
		<!--是否将出错信息显示到错误页面 -->
		<add key="IsShowErrMsg" value="true"/>
		<!-- 文件上传服务器的绝对路径-->
		<add key="FileServerPath" value="D:\TZ888\Member\"/>
		<!-- 文件上传服务器的URL地址-->
		<add key="FileServerURL" value="http://member1.topfo.com"/>
		<!-- 允许上传的图片类型-->
		<add key="UploadImageType" value=".gif|.jpg|.bmp"/>
		<!-- 允许上传的图片大小，单位K-->
		<add key="UploadImageMaxLength" value="5000"/>
		<!-- 是否重写图片名-->
		<add key="IsFileNameRewrite" value="true"/>
		<!-- 文字水印 -->
		<add key="ImageWaterFont" value="Tz888.cn"/>
		<!-- 图片水印地址 -->
		<add key="ImageWaterImage" value=""/>
		<!--  邮箱配置开始 -->
		<add key="SmtpServer2" value="61.145.163.5"></add>
		<add key="SenderEmailName2" value="中国招商投资网"></add>
		<add key="SenderEmail2" value="customservice@tz888.net"></add>
		<add key="EmailPassword2" value="mailsender"></add>
		<!--注册邮箱验证页模板地址-->
		<add key="EmailConfirm" value="MailTemplate\confirm.html"/>
		<!--注册成功邮箱内容页模板地址-->
		<add key="EmailSuccess" value="MailTemplate\success.html"/>
		<!--邮箱配置结束 -->


		<!-- 资源最终页面静态化相关配置 -->
		<add key="ApplicationRootPath" value="D:\TZ888\tzWeb\"></add>
		<add key="LocalApplicationRoot" value="D:\TZ888\tzWeb\"></add>

		<add key="CapitalTmpPath" value="Template\Capital\DefaultTmp\"></add>
		<add key="CapitalTmpPathTo" value=""></add>
		<add key="ProjectTmpPath" value="Template\Capital\DefaultTmp\"></add>
		<add key="ProjectTmpPathTo" value=""></add>
		<add key="MerchantTmpPath" value="Template\Capital\DefaultTmp\"></add>
		<add key="MerchantTmpPathTo" value=""></add>

	</appSettings>
	<system.web>
		<customErrors mode="Off"></customErrors>
		<!--  身份验证 
          此节设置应用程序的身份验证策略。可能的模式是 "Windows"、 
          "Forms"、 "Passport" 和 "None"

          "None" 不执行身份验证。 
          "Windows" IIS 根据应用程序的设置执行身份验证 
            (基本、简要或集成 Windows)。在 IIS 中必须禁用匿名访问。


          "Forms" 您为用户提供一个输入凭据的自定义窗体(Web 页)，然后 
           在您的应用程序中验证他们的身份。用户凭据标记存储在 Cookie 中。


          "Passport" 身份验证是通过 Microsoft 的集中身份验证服务执行的，


           它为成员站点提供单独登录和核心配置文件服务。


    -->
		<authentication mode="Forms">
			<forms name="week" path="/" loginUrl="/Member/LoginPage.aspx" protection="All" timeout="60">
			</forms>
		</authentication>
		<machineKey validationKey="49CBE0B23EB93F8C3E32721B5A3F87A94C78799B" decryptionKey="4D34FEF66F8FEFE2" validation="SHA1"/>
		<authorization>
			<allow users="*"/>
			<deny users="?"/>
		</authorization>
		<trust level="Full"/>
		<pages>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
				<add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajaxToolkit"/>
			</controls>
		</pages>
		<httpHandlers>
			<remove verb="*" path="*.asmx"/>
			<add verb="POST,GET" path="ajaxpro/*.ashx" type="AjaxPro.AjaxHandlerFactory,AjaxPro.2"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
			<!--<add verb="*" path="*.html" type="Tz888.Common.UrlRewriter"/>-->
		</httpHandlers>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		</httpModules>
		<webServices>
			<protocols>
				<add name="HttpGet"/>
				<add name="HttpPost"/>
			</protocols>
		</webServices>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Drawing.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
			</assemblies>
		</compilation>
	</system.web>
	<system.web.extensions>
		<scripting>
			<webServices>
				<!-- Uncomment this line to customize maxJsonLength and add a custom converter -->
				<!--
      <jsonSerialization maxJsonLength="500">
        <converters>
          <add name="ConvertMe" type="Acme.SubAcme.ConvertMeTypeConverter"/>
        </converters>
      </jsonSerialization>
      -->
				<!-- Uncomment this line to enable the authentication service. Include requireSSL="true" if appropriate. -->
				<!--
        <authenticationService enabled="true" requireSSL = "true|false"/>
      -->
				<!-- Uncomment these lines to enable the profile service. To allow profile properties to be retrieved
           and modified in ASP.NET AJAX applications, you need to add each property name to the readAccessProperties and
           writeAccessProperties attributes. -->
				<!--
      <profileService enabled="true"
                      readAccessProperties="propertyname1,propertyname2"
                      writeAccessProperties="propertyname1,propertyname2" />
      -->
			</webServices>
			<!--
      <scriptResourceHandler enableCompression="true" enableCaching="true" />
      -->
		</scripting>
	</system.web.extensions>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<add name="ScriptModule" preCondition="integratedMode" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		</modules>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated"/>
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		</handlers>
	</system.webServer>
</configuration>
