/* CSS Document */

/******** head style  star ********/
#header{width: 948px;margin: 0 auto;}
#header .shanga {width: 948px;	height: 23px;}

#header .shanga ul{	display:inline-block;*display:inline;width: 290px;float: left;color: #563B1D;padding-left: 20px;padding-top: 4px;}

#header .shanga li{float:left;}

#header .shanga .on{
	background-image:url(../images/toponbg.gif);
	background-repeat:no-repeat;
	background-position: center 2px;
}
.thm-1,.thm-2,.thm-3,.thm-4,.thm-5,.thm-6,.thm-7{
	width:8px;
	height:10px;
	border:1px solid #024D69;
	background:#C7D4DC;
	margin:3px 2px 0 1px;
	overflow:hidden;
	cursor:pointer;
	cursor:hand;
	_height /* */:10px;
	_width /* */:10px;
}
.thm-1{
	background-color:#FDE15B;border-color:#705806;
}
.thm-2{
	background-color:#F4A2BA;
	border-color:#CB1C51;
	
	background-position:-18px 2px;
}
.thm-3{
	background-color:#8BD861;
	border-color:#4D3B53;
	background-position:-38px 2px;
}
.thm-4{
	background-color:#C9E3F6;
	border-color:#688130;
	background-position:-58px 2px;
}
.thm-5{
	background-color:#E1CBE3;
	border-color:#77724A;
	background-position:-78px 2px;
}
.thm-6{
	background-color:#CBD2DF;
	background-position:-98px 2px;
}
.thm-7{margin-right:.4em;background-position:-118px 2px;
background-position:2px 2px;
background-color: #47B5FA;


}



#header .shanga div{width: 630px;float: left;}
#header .shanga div span{padding-left:60px;}

#header .shanga div A:link,#header .shanga div A:visited {COLOR: #515151; text-decoration: underline;}
#header .shanga div  A:hover,#header .shanga div A:active {	COLOR: #ff0000;text-decoration: underline;}

logo{	width: 170px;	height: 70px;	margin-left: 30px;	float: left;
}
.logo a{	width: 170px;	height: 70px;	display: block;}

.banner{	width: 600px;	float: right;}

#header .xia .xiatop{	padding: 6px 0 0 0;	width: 948px;}

#header .xia .xiatop .lefttop{	width: 300px;	float: left;font-size: 13px;	text-align: left;	padding-left: 50px;	padding-top: 4px;}
#header .xia .xiatop .right{width: 370px;float: right;background-image: url(../images/topbg2.gif);background-repeat: no-repeat;	padding: 0 0 0 35px;}


.page_top{ background:#FDE15C;}
.footer_up_bg{ position:relative;}
html>body .footer_up_bg{ background:url(../images/line_bai.png) repeat-x bottom left;height:130px;width:100%;}
*html body .footer_up_bg{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="images/line_bai.png");height:130px;dipslay:block;}

.long_layer{position: absolute;right:2px;top:0px; z-index:5;;width:190px;height:140px;display:block;}
html>body .long_layer{ background:url(../images/long_1.png) no-repeat top right;height:120px;}
*html body .long_layer{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=crop,src="images/long_1.png");height:120px;dipslay:block; background-position: bottom right;}

.shangtop{position:absolute;z-index:200; height:120px;left:24px;;top:14px;display:block;}

.logo{width:180x;float:left;}
.banner{width: 600px;float:right;padding:0 20px 0 0;}


.down_infor{position:absolute;z-index:5000; height:30px;left:24px;top:100px;display:block;}

.lefttop{width: 300px;float: left;font-size: 13px;text-align: left;	padding-left: 10px;	padding-top: 4px;}
.lefttop{color:#ffffff;}
.lefttop a{color:#F75F03;}

.right{
	width: 370px;
	float: right;
	background-image: url(../images/topbg2.gif);
	background-repeat: no-repeat;
	padding: 0 0 0 35px;
}

/******** head style end ********/


/******** body 结构 start ********/
.wrapper{width:948px;margin:8px auto;_height:1%;}
.wrapper_left{
	width: 149px;
	float: left;	
	font-size: 14px;
	padding: 10px 10px 2px 10px; text-align:left;
}
.wrapper_left{background-color: #FFF79F;border-color:#818181;}

.wrapper_right{	float:right;width:770px;}

/******** body 结构 end ********/


/******** left style start ********/


.wrapper_left_bg{
	
	background-repeat: no-repeat;
	background-position: bottom;
}


.xs_bg{ position:relative;bottom:0;left:0;z-index:50;}
html>body .xs_bg{ background:url(../images/Buleleftbg.png) no-repeat bottom left;height:129px;width:100%;}
*html body .xs_bg{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="images/Buleleftbg.png");dipslay:block;height:129px;}


.menu_list{ position:relative;z-index:100}

.menu_list div div{
	background-image: url(../images/buttom_left.gif);
	background-repeat: no-repeat;
	height: 27px;
	padding: 5px 0 0 10px;
	font-weight: bold;
}

.menu_list ul{
	padding: 0px 0 0 40px;
}

.menu_list li{
	list-style-image: url(../images/icon_open.gif);
}
.menu_list textarea{
	margin-top: 10px;
	color: #666666;
	width: 143px;
	font-size: 12px;
}

.menu_list dir{
	margin: 10px 0 0 0;
	text-align: center;
}

.menu_list img{
	margin-right:5px;
}

p.pmenu{margin-left:6px;}

/******** left style end ********/


/*底部属性*/
#footer{
	width: 948px;
	margin: 0 auto;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #563B1D;
	text-align: center;
	padding: 0px 0 5px 0;
}
#footer p{
	padding-top:5px;
}
.hottel{
	background-color: #F7F6F6;
	text-align: center;
	padding: 4px;
	margin-bottom: 5px;
}
.hottel img{
	margin-left:25px;
}


p.sent_bg{height:40px;dipslay:block}

.on_btn{margin-top:3px;cursor:hand}
.off_btn{margin-top:0px;cursor:hand}

.transparent{
filter:alpha(opacity=12);
-moz-opacity:0.12;
opacity:0.12;
background-color:#ffffff;
}