.hxian{ border-top:1px solid #ffcb68;}
.neicon{ padding:25px 0 25px 25px;}
.neicon p.p1{ padding:15px 0 3px 0}
.neicon h1{ font-size:14px; color:#ff6600;}
.neicon p.p2{ background-color:#f7f7f7; border:1px dashed #CCCCCC; text-align:center; padding:20px 15px 20px 15px;  margin:20px 0 15px 25px; width:600px;} 
.neicon p.p2 span{ padding:0 25px 0 25px;}
.neicon p.p3{ padding:30px 0 30px 0; text-align:center;}
.neicon p.p3 img{ padding:0 15px 0 15px;}
.neicon p.p4 { padding:25px 0 3px 0}
.neicon p.p5 { padding:0 25px 15px 0;}
.neicon p.p6 {background-color:#f7f7f7; padding:15px 15px 5px 25px; width:665px;}
.neicon p.p6 img{ margin:0 0 0 10px;}
.neicon p.p6 span{ padding:0 0 0 53px;} 
.neicon p.p7{ padding:1px 0 1px 0; text-align:center; border-bottom:1px solid #a4a2a2;}