.xiancolor{	border-top-color: #FF4040;
	border-right-color: #FF4040;
	border-bottom-color: #FF4040;
	border-left-color: #FF4040;}
.xiancolors{border-top-color: #FF0000;border-right-color: #FF0000;border-bottom-color: #FF0000;border-left-color: #FF0000;}
.mestitel{ color:#FF4040}
.titlec{ background-color:#FEEEEE;}