.xiancolor{	border-top-color: #749DE6;
	border-right-color: #749DE6;
	border-bottom-color: #749DE6;
	border-left-color: #749DE6;}
.xiancolors{border-top-color: #004FDF;border-right-color: #004FDF;border-bottom-color: #004FDF;border-left-color: #004FDF;}
.mestitel{ color:#004FDF}
.titlec{ background-color:#E4EDFE;}