<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tz888.BLL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Tz888.BLL.Properties.Settings>
            <setting name="Tz888_BLL_SmsServer_BusinessServiceService" serializeAs="String">
                <value>http://webservice.dodoca.com:8080/NOSmsPlatform/services/BusinessService</value>
            </setting>
        </Tz888.BLL.Properties.Settings>
    </applicationSettings>
</configuration>